{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
<h1>Welcome to the International Biathlon Union Website!</h1>
<p>
    Biathlon is a Winter Olympic sport that combines cross-country skiing (freestyle technique) with rifle shooting. It requires athletes to alternate between high-intensity skiing and calm, precise marksmanship, typically shooting at 50-meter targets in both prone and standing positions, with penalties for misses.<br>
    <br>
    In this Website can be found 2025/2026 Season result statistics.<br>
    <br>
    More specificaly:<br>
    1.The total score for Female players and Male players.<br>
    2.The Team Relay standing for Men, Women, And Mixed teams.<br>
    3.Nation Cup standing which determin how many sportists each Nation can allow to participate.
</p>

{% endblock %}