{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
<div class="container">
    <h1 class="main-heading">Welcome to the International Biathlon Union Website!</h1>
    
    <div class="info-card">
        <p class="styled-text">
            Biathlon is a Winter Olympic sport that combines cross-country skiing (freestyle technique) with rifle shooting. It requires athletes to alternate between high-intensity skiing and calm, precise marksmanship, typically shooting at 50-meter targets in both prone and standing positions, with penalties for misses.
        </p>
        <p class="styled-text">
            In this Website can be found 2025/2026 Season result statistics.
        </p>
        <p class="styled-text">More specificaly:</p>
        <ul class="styled-list">
            <li>The total score standings for Female players and Male players.</li>
            <li>The Team Relay standing for Men, Women, And Mixed teams.</li>
            <li>Nation Cup standings, which determine how many athletes each nation is allowed to enter in competitions.</li>
        </ul>
    </div>
</div>
{% endblock %}
{% block footer %}
    <footer class="ipasa">
        <p><img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo2" class="logo2"></p>
    </footer>
{% endblock %}