{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

<div class="login-container">
    <div class="login-card">

        <h1>Edit Profile</h1>

        <p><strong>Email:</strong> {{user["email"]}}</p>

        {% if edit_error %}
            <h2>{{edit_error}}</h2>
        {% endif %}

        <form action="/profile" method="POST">

            <div class="name-field">
                <label>Username:</label>
                <input type="text" name="username" placeholder="{{user['username']}}">
            </div>

            <div class="name-field">
                <label>New Password:</label>
                <input type="password" name="new_password">
            </div>

            <div class="name-field">
                <label>New Password (again):</label>
                <input type="password" name="new_password_2">
            </div>

            <div class="name-field">
                <label>Password to confirm:</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">Save</button>

        </form>

        <!-- Divider -->
        <hr style="margin: 25px 0;">

        <h1>Delete Profile</h1>
        {% if delete_error %}
            <h2>{{delete_error}}</h2>
        {% endif %}

        <form action="{{ url_for('delete_profile') }}" method="POST">

            <div class="name-field">
                <label>Confirm password:</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit" style="background:#c62828;">
                Delete Profile
            </button>

        </form>

    </div>
</div>

{% endblock %}