{% extends "base.html" %}
{% block title %}Total Score{% endblock %}
{% block content %}
<div class="gender2-show">
    {%for Total_score in Total_score%}
    <div class="sadalijums">
        <img  src="{{ url_for('static', filename='images/people/' ~ Total_score['picture']) }}" alt="{{ Total_score['name'] }}">
    </div>
    <div class="sadalijums">
        
        <h2>{{ Total_score["name"] }}</h2>
        <p>Cena: {{ Total_score["Points"] }}</p>
        <img src="{{ url_for('static', filename='images/Flags/' ~ Total_score['flag']) }}" alt="{{ Total_score['Country'] }}">

    </div>
    {%endfor%}
</div>
{% endblock %}